{
  "name": "",
  "description": "",
  "spec": [
      {
          "question_name": "Select a server to deprovision",
          "question_description": "",
          "required": true,
          "type": "multiplechoice",
          "variable": "serverFunction",
          "min": null,
          "max": null,
          "default": null,
          "choices": "db\nweb\napi"
      }
  ]
}